[submodule "blt"]
	path = blt
	url = git@github.com:LLNL/blt.git
[submodule "tpl/RAJA"]
	path = tpl/RAJA
  url = git@github.com:LLNL/RAJA.git
  branch = feature/grid-stride-redux
[submodule "MFEM"]
	path = MFEM
  url = git@github.com:jonesholger/MFEM.git
  branch = feature/mfem_submodule
