[submodule "blt"]
	path = blt
	url = git@github.com:LLNL/blt.git
[submodule "tpl/RAJA"]
	path = tpl/RAJA
  url = git@github.com:LLNL/RAJA.git
  branch = feature/kunen1/nested2
[submodule "MFEM"]
	path = MFEM
  url = git@github.com:jonesholger/MFEM.git
  branch = feature/mfem_submodule
[submodule "tpl/caliper"]
	path = tpl/caliper
  url = git@github.com:LLNL/Caliper
[submodule "tpl/umpire"]
  path = tpl/umpire
  url = git@github.com/LLNL/Umpire
  branch = master

